<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>myPractice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>calc.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <!-- servlet-class를 servlet-name으로 선언한다. -->
  	<servlet-name>Oper</servlet-name>
  	<servlet-class>com.koreaIt.app.Calc</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Oper</servlet-name>
  	<url-pattern>/Oper</url-pattern>
  </servlet-mapping>
  
</web-app>